<h2>Edit <%= @word.name %></h2>
<form action="/words/<%= @word.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">edit word</label>
  <input type="text" name="new_name" id="new_name" value="<%= @word.name %>">
  <button class="btn btn-dark" type="submit" name="button">Update!</button>
</form>
<form class="" action="/words/<%= @word.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-danger" type="submit" name="button">Delete word</button>
</form>
