<form class="" action="/words" method="post">
  <label for="word">Enter a word!</label>
  <input type="text" name="word">
  <button class="btn btn-dark type="submit" name="button">Submit!</button>
</form>

<a href="/words">Take me back!</a>
